Repository woowacourse-study/2025-Manifest-Android-Interview-Study, pull requests merged in 2025-09, with the labels that each got.

#20 [1] Compose 페이즈 (phase) 에 대해 설명해주세요. - 오이
  Jetpack Compose/1. What are the Compose phases_.pdf
  Jetpack Compose/1. What are the Compose phases_.pptx
  Jetpack Compose/[1] Compose 페이즈 (phase) 에 대해 설명해주세요.md
Labels: 🎨 Jetpack Compose, 🥒 오이

#21 [2] Jetpack Compose가 선언적(declarative) UI 프레임워크라고 불리는 이유는 무엇인가요? - 동전
  Compose Fundamentals/[2] Jetpack Compose가 선언적(declarative) UI 프레임워크라고 불리는 이유는 무엇인가요?/[2] Jetpack Compose가 선언적(declarative) UI 프레임워크라고 불리는 이유는 무엇인가요?.md
Labels: 🎨 Jetpack Compose

#17 [11] 상태(State)란 무엇이며 이를 관리하는 데 사용되는 API는 무엇인가요? - 다이스
  Jetpack Compose/[11] 상태(State)란 무엇이며 이를 관리하는 데 사용되는 API는 무엇인가요?/[11] 상태(State)란 무엇이며 이를 관리하는 데 사용되는 API는 무엇인가요?.pdf
  Jetpack Compose/[11] 상태(State)란 무엇이며 이를 관리하는 데 사용되는 API는 무엇인가요?/[11] 상태(State)란 무엇이며 이를 관리하는 데 사용되는 API는 무엇인가요? (다이스).md
Labels: 🎨 Jetpack Compose, 🎲 다이스

#32 [12] 상태 호이스팅(state hoisting)으로 어떤 이점을 얻을 수 있나요? - 동전
  Jetpack Compose/[12]  상태 호이스팅(state hoisting)으로 어떤 이점을 얻을 수 있나요/[12]  상태 호이스팅(state hoisting)으로 어떤 이점을 얻을 수 있나요?.md
  Jetpack Compose/[12]  상태 호이스팅(state hoisting)으로 어떤 이점을 얻을 수 있나요/[12]  상태 호이스팅(state hoisting)으로 어떤 이점을 얻을 수 있나요?.pdf
Labels: 🎨 Jetpack Compose, 🪙 동전

#37 [5] What is stability in Jetpack Compose, and how does it relate to performance?
  Jetpack Compose/[5] What is stability in Jetpack Compose, and how does it relate to performance?/5. What is stability in Jetpack Compose, and how does it relate to performance_.pdf
  Jetpack Compose/[5] What is stability in Jetpack Compose, and how does it relate to performance?/5. What is stability in Jetpack Compose, and how does it relate to performance_.pptx
Labels: 🎨 Jetpack Compose, 🥒 오이

#36 [38] View 시스템의 무효화(invalidation)란 무엇인가요? - 다이스
  Android UI - View/[38] View 시스템의 무효화(invalidation)란 무엇인가요?/[38] View 시스템의 무효화(invalidation)란 무엇인가요? - 다이스.pdf
Labels: 🖼️ Android UI - View, 🎲 다이스
